@tailwind base;
@tailwind components;
@tailwind utilities;


.light-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.light-scrollbar::-webkit-scrollbar-track {
  background: #f9fafb;
}

.light-scrollbar::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 9999px;
}

.light-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}